@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

		body {
			font-family: Poppins;
			margin: 0;
		}
		.error-message {
			color: red;
			font-weight: bold;
		  }
		/* Navbar styles */
		.navbar {
			background-color: transparent;
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
			z-index: 1;
		}
		
		.navbar a {
			float: left;
			display: block;
			color: #fff;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
			background-color: transparent;
		}
		
		.navbar a:hover {
			border-bottom: 3px solid #fff;
		}
		
		.active {
			border-bottom: 3px solid #4CAF50;
		}
		
		/* Main content styles */
		.main-content,body {
			position: relative;
			margin-top: 0;
			padding: 100px 20px 20px;
			background: url(./bg.jpg) no-repeat center center fixed;
			background-size: cover;
			height: calc(100vh - 80px);
			display: flex;
			flex-direction: column;
			justify-content: center;
      align-items: flex-start;
			color: #fff;
			text-align: left;
		}
		
		.main-title {
			font-size: 48px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		
		.main-description {
			font-size: 24px;
			margin-bottom: 40px;
		}
		
		/* Buttons styles */
		.btn {
			background-color: #4CAF50;
			color:rgb(255, 255, 255);
			border: none;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 10px;
			cursor: pointer;
			border-radius: 5px;
		}
		
		.btn:hover {
			background-color: #3e8e41;
		}
		
		/* Responsive styles */
		@media screen and (max-width: 600px) {
			.navbar {
				padding: 5px;
			}
			.navbar a {
				float: none;
				display: block;
				text-align: right;
				padding: 10px 0;
			}
		}
