<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/log.css') }}">
</head>
<body>
  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}
		<!-- Navbar -->
		<div class="navbar">
			<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('testimonials') }}">Testimonials</a>
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('imageai') }}">ImageAI</a>
		<a class="active" href="{{ url_for('loginpage') }}">Login</a>
		</div>
  <div class="container">
    <div class="user-icon">
      <i class="fa fa-user"></i>
    </div>

    <form action="/loginuser" method="post">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <input type="submit" value="Login">
    </form>

    <div class="create-account">
      <p>You don't have an account!</p>
	  <a href="{{ url_for('registerpage') }}">Create Account</a>
    </div>
  </div>
</body>
<script src="https://kit.fontawesome.com/21663bf7dc.js" crossorigin="anonymous"></script>
</html>